.card-container {
  display: flex;
  justify-content: flex-start; 
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  max-width: 1400px; 
}

.card-item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: left;
}

.card-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-buttons button {
  margin: 5px 5px;
  border: crimson 1px solid;
  font-size: 15px;
}

.container {
  padding: 20px;
}

.selected-member {
  background-color: crimson; 
  border: 1px solid black;
}

.selected-member button{
  border: black 1px solid;
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.navbar li {
  list-style-type: none;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.navbar li a:hover {
  background-color: #ddd;
}
.badge {
  background-color: crimson;
  color: white;
  padding: 5px 8px;
  transition: transform 0.3s ease;
}

.badge.added {
  transform: scale(1.2);
}



.product-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.product-heading {
  text-align: center;
  margin-bottom: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-images {
  display: flex;
  justify-content: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
}

.no-products {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #555;
}
